body{
  overflow-x: hidden;
  background:#1a1a1a;
}
div#root {
  overflow-x: hidden;
}
.MuiIconButton-edgeStart {
  margin-left: auto;
}
button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorInherit.MuiIconButton-edgeStart {
  display: none;
}
.time{
  position: absolute;
  right: 20px;
  top: 15px;
}
.App {
  text-align: center;
}
.bg-primary{
  background: #000000;
}
.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #000000 !important;
}
.bg-secondary{
  background: #1b1a1a;
}
.logohome {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.logohome img {
  width: 200px;
  margin: 35px 0px;
}
.red{
  color: red;
}
.w-100 {
  width: 100%;
}
button.btn.btn-default {
  color: #fff;
  font-weight: 600;
  border: 2px solid #7e7c7c;
  padding: 5px 10px;
}
button.btn.btn-default a{
 text-decoration: none;
}
button.btn:focus{
  outline: none;
  box-shadow: none;
}
input.net-in {
  background: transparent;
  border: 1px solid #fff;
  height: 35px;
  text-align: center;
  color: #fff;
    font-weight: 800;
}
input.net-in:focus {
  outline: none;
}
label.net-lable {
  font-weight: 700;
  font-size: 18px;
  float: left;
}
.logo-inner img {
  width: 150px;
  float: left;
  margin: 20px;
}
.ProjectCard-item{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProjectCard {
  padding: 20px 55px;
  border: 3px solid #7e7c7c;
  width: 300px;
  border-radius: 20px;
}
.ProjectCard:hover{
  background:#7e7c7c;
  padding: 20px 55px;
  width: 300px;
  border: 3px solid #fafafa;
}
.ProjectCard-item :hover h6{
  border: 0px solid #fafafa;
}
.ProjectCard img {
  width: 30px;
}
header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4 {
  border-bottom: 3px solid #fff;
  box-shadow: none;
}
.MuiGrid-root.footer-nav{
  position: absolute;
    bottom: 0px;
    padding: 10px 10px;
    border-top: 3px solid #fff;
    background: #000000;
}
.footerNav-icons {
  padding: 3px;
  border: 2px solid #7e7c7c;
  border-radius: 7px;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.footerNav-icons img {
  width: 48px;
}
.MuiGrid-root.ProjectCard-item a:hover {
  border: none;
  background: none;
  text-decoration: none;
}
#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}
span.semicircle-percent-value {
  color: #fff;
  font-weight: 800;
  font-size: 30px;
}
ul.main-chiller-listing {
  list-style: none;
}
ul.main-chiller-listing li{
  padding: 10px;
  margin: 20px;
}
ul.main-chiller-listing li {
  padding: 5px 10px;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid grey;
  font-size: 20px;
}
.temprature circle{
  stroke: #03a9f4;
}
h6.MuiTypography-root.text-white.water-temp.MuiTypography-alignCenter {
  position: relative;
  top: -50px;
  font-size: 40px;
  font-weight: 800;
}
span.temp-p {
  font-size: 17px;
  margin-left: -10px;
}
span.temp-p2 {
  font-size: 14px;
  left: 55%;
  top: 10px;
  position: absolute;
}
ul.main-chiller-listing img {
  width: 30px;
  float: right;
}
.progressbar-sec{
  border-right: 1px solid grey;
}
h6.temp-text {
  margin-top: -30px;
}
.monitor-title{
  border-bottom: 1px solid grey;
}
.mycard {
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff0;
    background-clip: border-box;
    border: 1px solid rgb(128 128 128);
    border-radius: 1.25rem;
    padding: 20px 10px;
}
.power-sec.MuiTypography-alignCenter img {
  width: 100px;
  margin: auto;
}
span.temp-p3 {
  font-size: 20px;
  position: absolute;
  top: 10px;
}
.mycard:hover{
  background-color: #c7c6c6;
  border: 1px solid #fff;
}
@media only screen and (max-width: 678px) {
  .logohome {
    height: 35px;
}
button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorInherit.MuiIconButton-edgeStart {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.time{
  display: none;
}
.logohome.logo1 {
  margin-top: 30px;
}
  .logohome img {
    width: 150px;
   margin: 5px 0px;

  }
  label.net-lable {
    font-size: 15px;
}
}
